@media (max-width: 1050px) {
  .sidebar {
    display: none;
  }

  .hide_onSmall {
    display: none;
  }

  .main_container {
    font-size: 4vw;
    padding: 5vw;
  }

  .header_title {
    font-size: 9.5vw;
  }

  .header_subtitle {
    font-size: 4vw;
    max-width: 90%;
  }

  .content {
    width: 100%;
  }

  .token_name {
    max-width: 25vw;
  }

  .token_symbol {
    max-width: 24vw;
  }

  .dropdown_button {
    display: block;
    font-size: 1em;
    color: #FFF;
    background-color: #55C0D1;
    border: 1px solid #D8E8EB;
    border-radius: 0.25em;
    padding: 0.75em;
  }
}

.hidden {
  display: none;
}
