body {
  margin:  0;
  padding: 0;
  background-color: #052939;
}

main {
  display: block;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-weight: 700;
  font-size: 3.25em;
  font-family: Tahoma,Verdana,sans-serif;
  -webkit-text-fill-colot: #000;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #50bfe6;
}

.header_subtitle {
  font-size: 1.5em;
  text-align: center;
  color: #50bfe6;
}

.info_container {
  display: flex;
  justify-content: center;
  border-radius: 0.75em;
  border: 1px solid #EDEFF0;
  background-color: #2F464F;
}

.sidebar {
  min-width: 10em;
  padding: 1em 0;
  border-right: 1px solid #EDEFF0;
}


.sidebar-item:hover{
  background-color: #7B939C!important;
}

.sidebar-item {
  padding: 0.5em 1em 0.5em 1em;
  min-width: 10em;
  cursor: pointer;
}

.content {
  display: flex;
  flex-flow: column;
  width: 80%;
  padding: 1em 1.2em;
  align-items: flex-start;
}

.token_name, .token_symbol {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.token_name {
  font-size: 95%;
  max-width: 13vw;
  color: #D9E3E7;
}

.token_symbol {
  font-size: 80%;
  vertical-align: top;
  max-width: 12vw;
  padding-left: 0.5em;
  color: #8A8999;
}

.bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  font-size: 0.9em;
}

.dropdown_button {
  display: none;
}

.addresses {
  cursor: pointer;
  color: #8A8999;
  font-family: monospace,monospace;
}



img {
  border-radius: 50%;
  height: 1em;
  width: 1em;
}


.content_table {
  width: 100%;
}

table {
  width: 100%;
}

td{
  padding: 0.3em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: .5;
}


.links {
  white-space: nowrap;
}

.opa {
  opacity: .5;
}
