{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <!-- Custom js -->
    {% block scripts %}
    {% endblock scripts %}

    <title>Tokens</title>
  </head>
  <body>
        {% block content %}
        {% endblock content %}

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js'></script>
  </body>
</html>
