{% extends 'base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'js/main.js' %}" defer></script>
{% endblock scripts %}

{% block content%}
      <div class="main_container">
        <div class='sidebar'>
          <div id='bscdiv'>BSC</div>
          <div id='ethdiv'>ETH</div>
          <div id='maticdiv'>Polygon</div>
          <div id='ftmdiv'>Fantom</div>
        </div>

        <div class='content'>
          <table class='content_table'>

            <thead class='thead'>
              <tr>
                <td>Name/Symbol</td>
                <td>Address</td>
                <td>Links</td>
                <td>Age</td>
              </tr>
            </thead>

            <tbody id='list-of-tokens' class='tbody'>
            </tbody>

          </table>
        </div>

     </div>
{% endblock content%}

