{% extends 'base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/clickbtn.js' %}"></script>
{% endblock scripts %}

{% block content%}
      <div class="main_container">
        <div class='sidebar'>
          <div style='padding:0.5em 1em 0.5em 1em'>Network</div>
          <div class='sidebar-item' id='bscdiv'>
            <img src="{% static 'images/bsc-logo.png' %}">
            BSC
          </div>
          <div class='sidebar-item' id='ethdiv'>
            <img src="{% static 'images/eth-logo.png' %}">
            Ethereum
          </div>
          <div class='sidebar-item' id='maticdiv'>
            <img src="{% static 'images/polygon-logo.png' %}">
            Polygon
          </div>
          <div class='sidebar-item' id='ftmdiv'>
            <img src="{% static 'images/fantom-logo.png' %}">
            Fantom
          </div>
        </div>

        <div class='content'>
          <table class='content_table'>

            <thead class='thead'>
              <tr>
                <td>Name/Symbol</td>
                <td>Address</td>
                <td>Links</td>
                <td>Age</td>
              </tr>
            </thead>

            <tbody id='list-of-tokens' class='tbody'>

            </tbody>


          </table>
          <div>
            <button id='load-btn'>Load more</button>
          </div>
          <div>
            <button id='load-all-btn'>Load all</button>
          </div>
        </div>

     </div>
{% endblock content%}

